<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="true"
	 stopOnFailure="false">
	<testsuites>
	    <testsuite name="AppUnit">
		    <directory suffix="Test.php">./tests/App/Unit</directory>
	    </testsuite>
        <testsuite name="AppIntegration">
            <directory suffix="Test.php">./tests/App/Integration</directory>
        </testsuite>
	</testsuites>
    <php>
        <env name="APP_ENV" value="TEST"/>
    </php>
</phpunit>
