<div style="text-align: center;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;width: 100%;margin: 0 auto;padding: 50px 0;">
    <h1 style="font-size: 1.8em;color: #696767;">Olá, {{ name }}</h1>
    <h3 style="color: #696767;">Você está a um passo de se tornar um Redator</h3>
    <p style="color: #696767;">Clique no botão abaixo para ativar sua conta.</p>
    <a style="padding: 15px;border: 1px solid #1bbdd2;background-color: #03A9F4;color: white;font-weight: 600;text-decoration: none;line-height: 6pc;" target="_blank" href="{{ url }}">Ativar conta</a>
</div>